server:
  port: 9090

spring:
  application:
    name: admin-server

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true          # ✔ Always use IP, not hostname
    ip-address: 127.0.0.1            # ✔ Force localhost IP
    hostname: localhost              # ✔ Prevent Brajesh.mshome.net
    instance-id: admin-server-9090   # ✔ Unique ID for admin server
    statusPageUrlPath: /actuator/info
    healthCheckUrlPath: /actuator/health
    homePageUrl: http://localhost:9090/
