server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/brajeshpanda/new-config-server-repo-1.git
          default-label: main
          clone-on-start: true
          force-pull: true
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
          search-paths: /

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    hostname: localhost
    instance-id: config-server-8888
    statusPageUrlPath: /actuator/info
    healthCheckUrlPath: /actuator/health
    homePageUrl: http://localhost:8888/
